<div class="head">
<input [(ngModel)]="query" (keyup)="onKey($event)" placeholder="Search">
</div>
<div>
    <button (click)="filter('All')">All</button>
    <button (click)="filter('Sugar-Conscious')">Sugar-Conscious</button>
    <button (click)="filter('Vegetarian')">Vegetarian</button>
    <button (click)="filter('Vegan')">Vegan</button>

</div>
<div class="wrapper">
    

    <ng-container *ngFor="let recipe of recipes | filtered: filteredBy">

      <div class="box-image">
        <a routerLink="recipe/{{recipe.id}}">
        <img [src]="recipe.image">
        </a>
      </div>

      <div class="box-text">
         {{recipe.name}}
      </div>

    </ng-container>


</div>
